@CHARSET "UTF-8";
a{
	text-decoration: none;
	color:black;
}
a:hover{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
ul>li{
	list-style:none;
}
.nav ul>li{
	display:inline-block;
}
.fl-left{
	float:left;
}
.fl-right{
	float:right;
}
.clear-fix{
	overflow:hidden;
	zoom:1;
}
.center{
	margin-left:auto;
	margin-right: auto;
	vertical-align: middle;
	justify-content:center;
	text-aligin:center;
	display:block;
}
table{
	font-size: 1.1em;
}
.table-head{
	margin:10px;
	font-size: 1.2em;
	height: 2em;
}
td>input{
	width:100%;
}
input{
	height: 25px;
	margin-top: 5px;
}
button{
	height: 30px;
	width: 100px;
	font-size:1.1em;
	margin-top:10px;	
}
td>button{
	display:inline-block;
}
.center-father{
	display:flex;
	align-items: center;
	justify-content:center;
}